<div class="card-container">
  <mat-card>
    <mat-card-header class="card-header">
      <mat-card-title class="card-header-title">
        <div>{{ category.title }}</div>
      </mat-card-title>

      <button
        *ngIf="category.title === 'To do'"
        mat-icon-button
        color="primary"
        (click)="openDialog('300ms', '150ms')"
      >
        <mat-icon>add_box</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let todo of category.todos">
        <app-todo-card
          [title]="todo.title"
          [description]="todo.description"
          [nextCategory]="category.next"
          [previousCategory]="category.previous"
          (deleteTitleEmit)="deleteTodo($event)"
        >
        </app-todo-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
