.card-container {
  margin: 10px;
  width: 25rem;
  height: 35rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header-title {
}

.action-buttons-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
